@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
@*<ul class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
    <li class="nav-item active @ManageNavPages.IndexNavClass(ViewContext) "><a asp-page="./Index">Profile</a></li>
    <li class="nav-item @ManageNavPages.ChangePasswordNavClass(ViewContext)"><a id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li class="nav-item @ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a id="external-login" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item @ManageNavPages.PersonalDataNavClass(ViewContext)"><a asp-page="./PersonalData">Personal data</a></li>
</ul>*@

@*<div class="nav flex-column nav-pills" aria-orientation="vertical">
    <a class="nav-link" asp-page="./Index" data-toggle="pill" aria-selected="true" >Profile</a>
    <a class="nav-link"  asp-page="./ChangePassword" role="tab">Password</a>
    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" asp-page="./Index" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
</div>*@
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-page="./ChangePassword">Password</a>
    </li>
    @if (hasExternalLogins)
    {
<li class="nav-item">
    <a class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">Link</a>
</li>}
    @*<li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>*@
</ul>
